
@media screen and (max-width: 1400px) {
  #profile {
    max-height: auto;
    margin: 0rem auto;
    max-width: auto;
    padding: 0rem 1rem;
}

    .about-containers {
        flex-wrap: wrap;
    }
}

<<<<<<< HEAD
@media screen and (max-width: 1360px) {
  .article-container {
    justify-content: center;
    gap: 1.5rem;
  }

  article {
    flex: 1 1 100%;
    max-width: 500px;
  }
}

@media (min-width: 1201px) and (max-width: 1356px) {
  .details-container.color-container {
    flex: 1 1 30%;  /* same as default */
    max-width: 30%;
  }

  .about-containers {
    gap: 1.5rem; /* maybe reduce gap if needed */
=======
@media screen and (max-width: 1366px) {
  .custom-shape-divider-bottom-1749684164 {
    bottom: -30px;
  }

  #profile {
    padding-bottom: 120px;
>>>>>>> 574e63ebafc697aa6ed29ff66a3284cf34412203
  }
}

@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }

    #hamburger-nav {
        display: flex;
    }

    #experience, .experience-details-container {
        margin-top: 2rem;
    }

    #profile, .section-container {
        display: block;
    }

    .arrow {
        display: none;
    }

    section, .section-container {
        height: fit-content;
    }

    section {
        margin: 0 5%;
    }

    .section__pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }

    .about-containers {
        margin-top: 0;
    }
}

@media screen and (max-width: 1024px) {
<<<<<<< HEAD
  .section-container {
    flex-direction: column;
    gap: 2rem;
  }

  .section__text__p1, .section__text__p2 {
    text-align: center;
  }

  .btn-container {
    justify-content: center;
  }
}

@media (max-width: 1150px) and (min-width: 755px) {
  .details-container.color-container {
    flex: 1 1 45%;
    max-width: 45%;
  }
}

@media (max-width: 754px) {
  .details-container.color-container {
    flex: 1 1 100%;
    max-width: 100%;
  }
=======
    body {
        font-size: 0.95rem;
    }

    #profile {
        height: auto;
        margin: 3rem 2rem;
    }

    .section__pic-container {
        width: 240px;
        height: 240px;
    }

    .title {
        font-size: 2.25rem;
    }

    .section__text__p2 {
        font-size: 1.1rem;
    }

    .about-containers {
        gap: 1.5rem;
        flex-direction: column;
    }

    .text-container {
        padding: 0 1rem;
    }
>>>>>>> 574e63ebafc697aa6ed29ff66a3284cf34412203
}

@media screen and (max-width: 600px) {
    #contact, footer {
        height: 40vh;
    }

    #profile {
        height: 83vh;
        margin-bottom: 0;
    }

    article {
        font-size: 1rem;
    }

    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }

    .about-containers, .contact-info-upper-container, .btn-container {
        flex-wrap: wrap;
    }

    .contact-info-container {
        margin: 0;
    }

    .contact-info-container p, .nav-links li a {
        font-size: 1rem;
    }

    .experience-sub-title {
        font-size: 1.25rem;
    }

    .logo {
        font-size: 1.5rem;
    }

    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }

    .section__pic-container {
        width: auto;
        height: 46vw;
        justify-content: center;
    }

    .section__text__p2 {
        font-size: 1.25rem;
    }

    .title {
        font-size: 2rem;
    }

    .text-container {
        text-align: justify;
    }
}